<%- include('partials/header', { title:  'Edit Post'  }) %>


    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit Post</h1>
        <form action="/editpost/<%= id %>?_method=PUT" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" id="content" name="content" rows="6" required><%= post.content %></textarea>
            </div>
            <input type="submit" value=" Update post">
            <!-- <button type="submit" class="btn btn-primary">Update Post</button> -->
            <a href="/" class="btn btn-secondary ml-2">Cancel</a>
        </form>
    </div>

    
    
    <%- include('partials/footer') %>
